form {
    border: 1px solid black;
    width: 500px;
    height: 380px;
    display: block;
    margin: auto;
}

.name,
.form {
    margin-top: 10px;
    margin-left: 35px;
}

.submit {
    margin-left: 220px;
    margin-top: 0px;
    width: 70px;
    color: white;
    background-color: rgb(111, 160, 206);
    box-shadow: 3px 3px rgb(37, 36, 36);
}

select {
    width: 150px;
}

.name {
    margin-left: 57px;
}

.language {
    margin-left: 10px;
}