<!DOCTYPE html>
<html>
<head>
<title>Ask Me</title>
<style>
.message{
    display: block;
    width: 300px;
    margin: auto;
    color: green;
}

h1, h4{

    margin-top: 20px;
    color: #505050;
}
h3, p{
    color: #505050;
}
.button{
    margin-top: 30px;
}
.context{
display: block;
}
.header{
    display: flex;
    justify-content: center;
}
.links{
    margin-top: 20px;
    margin-left: 50px;
}
.main{
    display: block;
    margin: auto;
    background-color: #D3D3D3;
    width: 60%;
    height: 600px;
    text-align: center;
}
.play{
    border-radius: 50%;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
<script type=text/javascript>

    let audio_context;
    let recorder;
    window.onload = function() {
        let element = document.getElementById("button");
        try {
            window.AudioContext = window.AudioContext || window.webkitAudioContext;
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
            window.URL = window.URL || window.webkitURL;
            
            audio_context = new AudioContext;
            console.log('Audio context set up.');
            console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
        } catch (e) {
            alert('No web audio support in this browser!');
        }
        function startUserMedia(stream) {
            var input = audio_context.createMediaStreamSource(stream);
            console.log('Media stream created.');
            recorder = new Recorder(input);
            console.log('Recorder initialised.');
        }
            
        navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
            console.log('No live audio input: ' + e);
        });
        element.addEventListener("mousedown", function() {
            recorder.record();
            });
        
        element.addEventListener('mouseup', function() {
            recorder.stop();
            recorder.exportWAV(function(blob) {
                console.log(blob);
            })
            recorder.clear();
        });
    }
</script>

</head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="box" >
                    <p class="message">{{message}}</p>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="main">
        <div class="header">
            <div>    
                <h1>Hello {{user['first_name']}}, welcome to Ask Me.</h1>
                <h4>You can ask question or just type it.To ask question push button, or just type it the text box below.</h4>
            </div>
            <div class="links">
                <a href="/logout">LogOut</a>
            </div>
         </div>


        <div class="context">
            <div class="question">
                <div class="button" id='button'>    
                    <img src="static/play.jpeg" alt="button play" width="50" height="50" class="play">
                </div>
                <form action="/question" method="POST">
                <p>Type here:</p> 
                <textarea type="text" name="question" rows="10" cols="40" ></textarea> 
                <div>
                <input type="submit" value="Ask..." class='submit'>
                </div>
            </form>
            </div>
            <div class="result">
                <h3>Result: </h3>
            </div>
        </div>
    </div>


    </body>
</html>