<!DOCTYPE html>
<html>
<head>
<title>User</title>
<style>
.main{
    width: 700px;
    display: block;
    margin: auto;
    
}
table{
    border: 1px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.link{
    margin-top: 20px;
}
.h{
    display:flex;

}
</style>
</head>
<body>
<div class="h">
<div class='main'>
<h1>Title:{{book[0]['title']}}</h1>
<p>Favorited by:</p>
{% for aut in author: %}
<p>{{aut['name']}}</p>
{% endfor %}
<div class="link">
<a href="/authors" class="link">Home</a>
</div>

</div>


<div class='main'>
<h1>Add book's favorit</h1>
<form action="/addFavoritesAuthor/{{book[0]['id']}}" method="POST">
<div class="box">
<label for="book">Author:</label>

<select name="author_id">
{% for a in authors: %}
<option value="{{a['id']}}" >{{a['name']}}</option>
{% endfor %}
</select>
<input type="hidden" name="book_id" value="{{book[0]['id']}}"/>
</div>
<br>
    <input type="submit" value="Add" class='submit'>
</form>
</div>

</div>
</div>

</body>
</html>