<!DOCTYPE html>
<html>
<head>
<title></title>
<style>
.main{
    display:flex;
    justify-content: center;
}
.box{
    width: 300px;
    
}
.box1{
    border: 1px solid black;
}
.name{
    padding: 5px;
}
.book{
    margin-top: 10px;
}
.submit{
    margin-left: 50px;
}
.input{
    width: 300px;
    display: flex;
}
p{
    margin-right: 10px;
}
input{
    height: 20px;
    margin-top: 10px;
}
</style>
</head>
<body>
<div class='main'>
<div class='box'>
<h1>New Author</h1>
<form action="/addAuthor" method="POST">
<div class="input">
    <p>Name:</p>
<input type="text" name="name">
</div>
    <input type="submit" value="Create" class='submit'>
</form>
</div>

<div class='box'>
<h1>All Authors</h1>
<div class='box1'>
{% for a in authors: %}
<div class="name">
<a href='/show/{{a['id']}}'>{{a['name']}}</a>
</div>
{% endfor %}
</div>
<div class="book">
<a href='/addBook'>Add Book</a>
</div>
</div>
</div>
</body>
</html>
