<!DOCTYPE html>
<html>
<head>
<title>User</title>
<style>
.main{
    width: 700px;
    display: block;
    margin: auto;
    
}
table{
    border: 1px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.link{
    margin-top: 20px;
}
.h{
    display:flex;

}
</style>
</head>
<body>
<div class="h">
<div class='main'>
<h1>{{favorites[0]['name']}} favorites</h1>
<table>
<tr>
    <th>Titel</th>
    <th>#of pages</th>
</tr>
{% for favorite in favorites: %}
<tr>
<td>{{favorite['title']}}</td>
<td>348</td>

</tr>
{% endfor %}
</table>
<div class="link">
<a href="/authors" class="link">Home</a>
</div>

</div>


<div class='main'>
<h1>Add author favorites</h1>
<form action="/addFavorites/{{favorites[0]['id']}}" method="POST">
<div class="box">
<label for="book">Book:</label>

<select  name="book_id">
{% for b in books: %}
<option value="{{b['id']}}" >{{b['title']}}</option>
{% endfor %}
</select>

<input type="hidden" name="author_id" value="{{favorites[0]['id']}}"/>
</div>
    <input type="submit" value="Add" class='submit'>
</form>
</div>

</body>
</html>